# Core Django
Django==4.2
# REST Framework & Documentation
djangorestframework
drf-yasg[validation]

# Development Tools
ruff==0.6.8
python-decouple

# Tests
pytest
pytest-django
faker

# Async Processing
celery
redis
django-redis

# Database & Search
psycopg2-binary

# Jalali date
django_jalali
jdatetime
holidays